body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("images/chandrayaan.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200vh;
  color: white;
}
.first-heading {
  text-align: center;
}

.header-section {
  text-align: center;
}

.inside-section-div {
  width: 50%;
  text-align: left;
  position: relative;
  left: 30%;
}

a {
  text-decoration: none;
  padding: 1rem;
  margin: 1rem;
  border: 2px solid white;
  border-radius: 3rem;
  text-align: center;
}

a:hover {
  background-color: blue;
  color: white;
}

/* qn.html page*/

.qn-h2 {
  text-align: center;
}

.section1 {
  padding: 2rem;
}

.overlay {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 24rem;
  height: 10rem;
  transition: all 0.4s;
  color: black;  
}

