
body{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("images/chandrayaan.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;
    color: white;
}
.first-heading{
    text-align: center;

}

.header-section{
    text-align: center;
}

.inside-section-div{
    width: 50%;
    text-align: left;
    position: relative;
    left: 30%;
}

a{
    text-decoration: none;
    padding: 1rem;
    margin: 1rem;
    border: 2px solid white;
    border-radius: 3rem;
    text-align: center;
}

a:hover{
    background-color: blue;
    color: white;
}